/* Page Templates
 *
 * @package    Mayer/css
 * @since      1.9.1
 *====================================*/

.page-template-page-fullwidth {

	#primary-wrapper {

		#primary {

			#main {

				padding-left: 	0;
				padding-right: 	0;

				.page {

					padding-left:	0;
					padding-right:	0;

				}

			}

		}

	}

}

